.container
    .card
        .card__inner
            .card__preview
                .card__preview--number #### #### #### ####
                .card__preview--bottom
                    span.card__preview--holder-span
                        .card__preview--holder Jan Kowalski
                    span.card__preview--expire-span
                        .card__preview--expire Expires
                        span.card__preview--expire-date MM/YY
            .card__reverse
                .card__reverse--black
                .card__reverse--precvv CVV: 
                <span class="card__reverse--cvv"  id="cvvPreview">XXX</span>
    form.card__form
        .card__form--headerno Card Number
        input.card__form--input(type="text" placeholder="Card number" id="cardNumberInput")
        .card__form--headername Card Holder
        input.card__form--input(type="text" placeholder="Card name" id="cardNameInput")
        label(for="card__form--select__month")
        .card__form--headerexpire Expires
        input.card__form--input(placeholder="MM/YY" id="cardDateInput")
        select#card__form--select__month 
            option Month
            option 01
            option 02
            option 03
            option 04
            option 05
            option 06
            option 07
            option 08
            option 09
            option 10
            option 11
            option 12
        label(for="card__form--select__year")
        select#card__form--select__year 
            option Year
            option 2025
            option 2026
            option 2027
            option 2028
            option 2029                
            option 2030
            option 2031
            option 2032
            option 2033
            option 2034
            option 2035
        .card__form--headerCv CVV
        input.card__form--input(type="text" id="cardCVV")
